body {
  font-family: arial;
}
#header {
  text-align: center;
  background: yellow;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20%;
  margin-top: 60px;
  margin-bottom: 0px;
}
#card1 {
  display: flex;
  flex-direction: row;
  background: lightblue;
  border-style: solid;
  border-radius: 15px;
  border-color: lightblue;
  border-width: 1px;
  padding: 8px;
  padding-left: 20px;
  margin-bottom: 30px;
}
#c1 {
  width: 50%;
}

#card2 {
  display: flex;
  flex-direction: row;
  background: lightblue;
  border-style: solid;
  border-radius: 20px;
  border-color: lightblue;
  border-width: 1px;
  padding: 8px;
  padding-left: 20px;
  margin-bottom: 30px;
}
#c2 {
  width: 50%;
}

#card3 {
  display: flex;
  flex-direction: row;
  background: lightblue;
  border-style: solid;
  border-radius: 20px;
  border-color: lightblue;
  border-width: 1px;
  padding: 8px;
  padding-left: 20px;
  margin-bottom: 30px;
}
#c3 {
  width: 50%;
}
